
.page-header {
  background: url(./media_lib/YouInLogo2.png) 50% 50% no-repeat;
  border-radius: 8px;
  height: 150px;
  color: white;
  vertical-align: middle;
  border-bottom: none;

}

#newUser {
  background-color: #a1172d;
  border-radius: 8px;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  float: center;
    justify-content: center;

}

#logout {
  font-family: sans-serif;
  font-size: 20px;
  padding: 8px 8px 8px 8px;
  color: black;
  background-color: #7c9ac9;
  float: right;
}

#userName {
  float: left;
  margin: 0px;
}

.login {
  /*background-color: rgba(161, 23, 45, 0.7)*/
}

body {
  background: url(./media_lib/campfire-984020_1920.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  vertical-align: text-bottom;
  font-size: 56px;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

h2, h4 {
  vertical-align: text-bottom;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

p, li {
  color: white;
  font-family: Roboto, sans-serif;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.list-item {
  font-size: 150%;
}

#username {
  float: left;
}

.eventlist {
  background-color: rgba(2,2,2,.5);
  border-radius: 5px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.panel {
  background: none;
}

.selected {
  background-color: #438CFF;
}

/* this all deals with the facebook login button and the formatting for the div containing the
button */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 0.6em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.center {
  text-align: center;
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

#accept-click {
  background-color: green;
  color: white;
}

#reject-click {
  background-color: red;
  color: white;
}

.accepted {
  color: #15F659;
  font-weight: bold;
}

.rejected {
  color: red;
  font-weight: bold;

}

#create_event {
  font-family: sans-serif;
  font-size: 32px;
  color: white;
  background-color: #800000;
  padding: 12px 12px 12px 12px;
  border-radius: 6px;
}

#my-events-title {
  font-weight: bold;
  font-size: 42px;
  text-align: left;
  padding-left: 40px;
  color: #800000;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}

#friend-events-title {
  font-weight: bold;
  font-size: 42px;
  text-align: left;
  padding-left: 40px;
  color: #800000;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
}


