.page-header {
  background: #a1172d url(./media_lib/youInLogo.png) 50% 50% no-repeat;
  border-radius: 8px;
  height: 150px;
  color: white;
  vertical-align: middle;

}

#logout {
  color: black;
  float: right;
}

h2 {
	vertical-align: text-bottom;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
}

.list-item {
  font-size: 150%;
}

.events {
  border: 5px solid #db0939;
  border-radius: 5px;
  background-color: #db3939;
}

.selected {
  background-color: #438CFF;
}
