.page-header {
  background: #a1172d url(./media_lib/youInLogo.png) 50% 50% no-repeat;
  border-radius: 8px;
  height: 150px;
  color: white;
  vertical-align: middle;

}

#logout {
  color: black;
  float: right;
}

body { 
  background: url(./media_lib/outdoors1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
	vertical-align: text-bottom;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
}

.list-item {
  font-size: 150%;
}

.events {
  border: 5px solid #db0939;
  border-radius: 5px;
  background-color: rgba(219, 57, 57, 0.7);
}

.selected {
  background-color: #438CFF;
}
