.page-header {
  background-color: #a1172d;
  height: 150px;
}

h1 {
  vertical-align: text-bottom;
  text-align: center;
  color: white;
  font-style: sans-serif;
}

.list-item {
  font-size: 150%;
}

